body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  overflow-y: scroll;
}

.headline {
  display: flex;
  flex-direction: column;
  background-image: url("header-shapes mobile.png");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 24px;
  margin-bottom: 2em;
  height: 718px;
  border-bottom-left-radius: 50%;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding-right: 24px;
  padding-left: 24px;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 40px;
  color: #172b4d;
  font-weight: bold;
  margin: 0%;
  line-height: 52px;
}

p {
  padding-top: 0;
  line-height: 22px;
  color: #344563;
}

h3 {
  color: #7f8cff;
  font-size: 16px;
  margin-top: 0%;
  margin-bottom: 0%;
}

.icons ul {
  display: flex;
  align-items: flex-start;
  padding: 0;
  justify-content: space-between;
  width: 170px;
}

.headline-intro {
  padding-top: 4rem;
}

.works {
  display: grid;
  grid-template-columns: 375px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100vw;
  background-color: #e5e5e5;
}

.card1,
.card2,
.card3,
.card4 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 6em;
  padding: 16px;
}
