body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  overflow-y: scroll;
}

.headline {
  display: flex;
  flex-direction: column;
  background-image: url("header-shapes mobile.png");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 24px;
  margin-bottom: 2em;
  height: 100vh;
  border-bottom-left-radius: 10px;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding-right: 24px;
  padding-left: 24px;
}

.menu-button {
  cursor: pointer;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 40px;
  color: #172b4d;
  font-weight: bold;
  margin: 0%;
  line-height: 52px;
}

p {
  padding-top: 0;
  line-height: 22px;
  color: #344563;
}

h2 {
  font-size: 36px;
  color: #172b4d;
  padding-bottom: 10px;
  padding-top: 5px;
  margin: 0;
  line-height: 44px;
}

h3 {
  color: #7f8cff;
  font-size: 16px;
  margin-top: 0%;
  margin-bottom: 0%;
}

h5 {
  color: #7a869a;
}

.icons ul {
  display: flex;
  align-items: flex-start;
  padding: 0;
  justify-content: space-between;
  width: 170px;
}

.headline-intro {
  padding-top: 4rem;
}

.works {
  display: grid;
  grid-template-columns: 375px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100vw;
  background-color: #e5e5e5;
}

.date {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 0%;
  margin: 0%;
}

.canopy {
  padding-right: 2em;
  font-size: 13px;
  font-weight: 600;
}

.year {
  color: #7a869a;
  font-size: 13px;
  font-weight: 600;
  list-style: disc;
  padding-right: 2em;
}

.card1,
.card2,
.card3,
.card4 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
  padding: 16px;
  margin-left: 14px;
  margin-right: 14px;
  border-radius: 1rem;
  border: 1px solid #dadadb;
  height: 552px;
}

.card1,
.card3 {
  padding-bottom: 0;
}

.selection-text {
  font-size: 15px;
  line-height: 24px;
  width: 293px;
}

.work-buttons {
  display: flex;
  margin: 0%;
  padding-left: 0%;
  width: 203px;
  justify-content: space-between;
}

.project-button,
.resume-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 130px;
  border-radius: 8px;
  border: 1px solid;
  border-color: #396df2;
  margin-top: 16px;
  padding: 14px;
  font-size: 17px;
  font-weight: 600;
  color: #396df2;
  background-color: white;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 22px;
}

.about h2 {
  padding-top: 114px;
  width: 327px;
}

.about p {
  line-height: 24px;
}

.about .icons {
  margin-left: 10px;
  height: 45px;
}

.resume-button {
  width: 170px;
  padding: 13px;
  margin-bottom: 20px;
}

.about-dropdown {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.language {
  padding-bottom: 10px;
  margin: 0;
}

.dropdown-text,
.dropdown-text-no-border {
  padding-top: 21px;
  padding-bottom: 21px;
  border-bottom: 1px solid #dfe1e6;
  cursor: pointer;
}

.dropdown-text-no-border {
  border: none;
  padding-bottom: 40px;
}

.down-arrow,
.right-arrow {
  float: right;
  margin-top: 8px;
  margin-right: 40px;
}
